* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: #edede5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

a:hover {
    color: #de7258;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: #f6f9fc;
    border-bottom: 1px solid #000000;
    z-index: 1;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a.active, #dropdown_menu .active, #dropdown_menu_second .active {
    color: #de7258;
    font-weight: bold;
}


.navbar .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar .icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;

}

.navbar .icons .search {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fffdfd;
    border-radius: 30px;
    align-items: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}



.navbar .icons .search:hover input {
    width: 10rem;
}

.navbar .icons .search input {
    width: 0;
    outline: none;
    border: none;
    font-weight: bold;
    transition: 0.8s;
    background: transparent;
}

.navbar .icons .search a .fas {
    color: aquamarine;
    font-size: 1.5rem;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem
}

.navbar .toggle_btn {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn-cart,
.action_btn-user {
    position: relative;
}

.action_btn-cart::after {
    content: "Go to Cart";
    position: absolute;
    top: 150%;
    left: 70%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    /* Transition for opacity and visibility */
}

.action_btn-user::after {
    content: "Login";
    position: absolute;
    top: 150%;
    left: 70%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    /* Transition for opacity and visibility */
}

.action_btn-cart:hover::after,
.action_btn-user:hover::after {
    opacity: 1;
    visibility: visible;
}

.badge {
    background-color: #de7258;
    color: white;
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
    font-size: 0.6rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

/* dropdown menu */
/* Toggle Button Styles */
.toggle-checkbox {
    display: none;
}

.toggle-label {
    cursor: pointer;
    font-size: 1.5rem;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown Menu Styles */
#dropdown_menu {
    display: none;
    position: absolute;
    right: 0.65rem;
    top: 65px;
    width: 300px;
    background: rgba(236, 236, 236, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

#dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropdown_menu_second .icons {
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dropdown_menu_second .icons .cart_user {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

#dropdown_menu_second {
    display: none;
    position: absolute;
    right: 0.65rem;
    top: 65px;
    width: 300px;
    background: rgba(236, 236, 236, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

#dropdown_menu_second li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Section */
footer {
    width: 100%;
    height: auto;
    background-color: #f6f9fc;
    display: flex;
    flex-direction: row;
    padding: 20px 60px;


    flex-wrap: wrap;
    gap: 6rem;
}

.logo-txt {
    font-size: 4rem;
    font-weight: bold;
}

.contact-txt {
    margin-bottom: 10px;
}

.contact-socials {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.address-content,
.phone-content,
.hours-content {
    display: flex;
    flex-direction: row;
}

.socials {
    margin-top: 15px;
}

.socials-icon {
    display: flex;
    margin-top: 10px;
    gap: 1rem;
}

.company,
.my-account,
.payment-gateways {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.company-links,
.my-account-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company-txt,
.my-account-txt,
.payment-gateways-txt {
    font-size: 2rem;
    font-weight: bold;
}

.payment-logo {
    width: 244px;
    height: 32px;
}

.gcash-logo {
    width: 244px;
    height: 50px;
}

.paymaya-logo {
    width: 244px;
    height: 70px;
    margin-top: -10px;
}

.bank-logo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    text-align: center;
}

/* Shop Header */

main {
    margin-top: 3.8rem;
}

.shop-header-section {
    background-image: url('./assets/Images/b16.jpg');
    width: 100%;
    height: 532px;
    background-size: cover;
    position: relative;
}

.shop-header {
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.shop-header h1 {
    font-size: 10rem;
    font-weight: bold;
    color: #dd7155;
    text-shadow: 0 0 3px #000000, 
                 0 0 3px #000000, 
                 0 0 3px #000000, 
                 0 0 3px #000000; 
}

.shop-header p {
    font-size: 2rem;
    font-weight: bold;
    color: #f6f9fc;
    text-shadow: 0 0 2px #919191, 
                 0 0 2px #919191, 
                 0 0 2px #919191, 
                 0 0 2px #919191; 
}

/* Products Section */


.products-section {
    margin: 0 2rem;
    margin-top: 4rem;
}

.cart-btn {
    position: relative;
}

.cart-btn::after {
    content: "Add to Cart";
    position: absolute;
    top: 120%;
    transform: translateX(-50%);
    background-color: #e0987c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cart-btn:hover::after {
    opacity: 1;
    visibility: visible;
}


.products {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;
}

.product-card {
    width: 300px;
    padding: 1rem;
    background-color: #f6f9fc;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(114, 114, 114, 0.4);
}

.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-img img {
    width: 275px;
    height: 275 0px;
    object-fit: cover;
    border-radius: 10px;
}

.product-details {
    padding-top: 10px;
    position: relative;
}

.product-details .product-category {
    font-size: 12px;
    font-weight: lighter;
    color: gray;
}

.product-details .product-name {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.product-details .product-rating {
    font-size: 10px;
    font-weight: bold;
    margin-top: 4px;
}

.product-details .product-sold {
    font-size: 10px;
    font-weight: normal;
    color: gray;
}

.product-details .product-prices {
    margin-top: 12px;
}

.product-prices .new-price {
    font-size: 20px;
    font-weight: bold;
}

.product-prices .old-price {
    font-size: 12px;
    font-weight: lighter;
    text-decoration: line-through;
    color: gray;
}

.product-details .cart-btn {
    position: absolute;
    right: 10px;
    top: 65px;
    background-color: #de7258;
    color: #f6f9fc;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-btn .fa-cart-plus {
    font-size: 18px;
}

.product-img .banner {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #de7258;
    color: #f6f9fc;
    border-radius: 10px;
    font-size: 12px;
    font-weight: lighter;
}

.product-img:hover {
    box-shadow: 2px 4px 6px rgba(114, 114, 114, 0.9);
    transform: scale(1.01);
    transition: all 0.5s ease-in-out;
}

.center {
    text-align: center;

    padding: 20px 0;
    margin-top: 20px;

}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #414141;
}

.pagination a.active {
    background-color: #de7258;
    color: white;
    border: 1px solid #de7258;
}


.pagination a:hover:not(.active) {
    background-color: #ddd;
}




.sort select{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000000;
    padding-left: 0.5rem;
    padding-right: 1.48rem;
    cursor: pointer;
    font-size: larger;
}

.sort label {
    font-size: 20px;
}


/* Search Product Container  */

.sort-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem;
}

.search-product label {
    display: none;
}


.search-product input[type=text] {
    height: 50px;
    padding-left: 0.5rem;
    font-size: larger;
    border: 1px solid #000000;
    border-right: none;
    border-radius: 8px 0 0 8px;
    width: 30rem;
}

.search-product button {
    float: right;
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
    background: #ddd;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
    border-radius: 0 8px 8px 0 ;
}

.search-product button:hover {
    background: #ccc;
}






@media (max-width: 1050px) {

    .sort-search-container{
        flex-direction: column;
        gap: 2rem;
    }

    .search-product button {
        float: left;
        border: 1px solid #000000;
        border-right: none;
        border-radius: 8px 0 0 8px;
    }

    .search-product input[type=text] {
        width: 300px;
        height: 50px;
        border-radius: 0 8px 8px 0;
        border: 1px solid #000000;
        border-left: none;
    }
}

/* Header navbar responsive */
@media (max-width: 992px) {
    .navbar .icons .search input {
        width: 10rem;
    }

    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .toggle-checkbox:checked~#dropdown_menu {
        display: block;
        transition: 0.8s;
    }

    .toggle-checkbox:checked~.toggle-label #toggle-icon {
        content: url('./assets/Images/x-solid.svg');
    }

    .shop-header {
        left: 0%;
        top: 30%;
    }

    .shop-header-section {
        height: 400px;
    }

    .shop-header h1 {
        font-size: 6rem;
    }

    .shop-header p {
        font-size: 1.5rem;
    }


}

@media (max-width: 525px) {

    .shop-header-section {
        height: 400px;
    }

    .shop-header {
        padding: 1rem;
    }

    .shop-header h1 {
        font-size: 6rem;
    }

    .shop-header p {
        font-size: 1.5rem;
    }
}

@media (max-width: 493px) {

    .shop-header-section {
        height: 200px;
    }

    .shop-header {
        left: 0%;
        top: 15%;
    }

    .shop-header h1 {
        font-size: 3rem;
    }

    .shop-header p {
        font-size: 1rem;
        padding-right: 6rem;
    }

    .search-product input[type=text] {
        height: 50px;
        border-radius: 8px;
        border: 1px solid #000000;
    }

    .search-product button {
        display: none;
    }

    .search-product label {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .sort {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sort label{
        margin-bottom: 10px;
    }
}



@media (max-width: 768px) {
    .navbar .icons {
        display: none
    }

    #dropdown_menu {
        display: none;
    }

    .toggle-checkbox:checked~#dropdown_menu_second {
        display: block;
    }

    .toggle-checkbox:checked~#dropdown_menu {
        display: none;
    }
}

@media (max-width: 425px) {


    footer {
        padding: 40px 20px;
        gap: 4rem;
    }

}

